body {
	text-align:center;
}
input {
	width: 100px;
	height: 67px;
	font-size: 50px;
	border-radius: 10px;
	margin: 10px;
	background-color: #000;
	color: #fff;
	border-style: none;
}
#myform (
	
}